.ExternalClass{
	line-height:100%;
	p {
		line-height: 100%;
	}
	span {
		line-height: 100%;
	}
	font {
		line-height: 100%;
	}
	td {
		line-height: 100%;
	}
	div {
		line-height: 100%;
	}
}
table td {
	border-collapse:collapse;
}

.yshortcuts a {
	border-bottom: none !important;
}

