
/* -------------------------------------------
Grid stuff, don't touch!
-------------------------------------------- */
$half-width-column: ($email-width - $spacer * 3)/2;
$third-width-column: ($email-width - $spacer * 4)/3;
$quarter-width-column: ($email-width - $spacer * 5)/4; 


@media only screen and (max-width: 600px) {
  *[class="full-container"] {
    @if $mobile-padding == yes {
      padding:10px;
    } @else {

    }
  }
}

*[class="full-width"] {
  width: 100%;
  @media only screen and (max-width: 600px) {
    width:100% !important;
    height:auto;
  }
}

*[class="full-width-container"] {
  width: $email-width;
  @media only screen and (max-width: 600px) {
    width:100% !important;
    height:auto;
  }
}

*[class="width-half"] {
    width: $half-width-column;
    @media only screen and (max-width: 600px) {
      width:100% !important;
      height:auto;
    }
}

*[class="width-third"] {
    width: $third-width-column;
    @media only screen and (max-width: 600px) {
      width:100% !important;
      height:auto;
    }
}

*[class="width-two-thirds"] {
    width: $third-width-column * 2;
    @media only screen and (max-width: 600px) {
      width:100% !important;
      height:auto;
    }
}

*[class="width-quarter"] {
    width: $quarter-width-column;
    @media only screen and (max-width: 600px) {
      width:100% !important;
      height:auto;
    }
}

*[class="spacer"] {
    width: $spacer;
    @media only screen and (max-width: 600px) {
      display:none;
    }
}
*[class="mobile-spacer"] {
    width: $spacer;
    @media only screen and (max-width: 600px) {
      height: $mobile-bottom-spacing;
    }
}
*[class="container-mob"] {
  width:100%;
  @media only screen and (max-width: 600px) {
    width:100% !important;
    height:auto;
    margin-bottom: $mobile-bottom-spacing;
  }

}