span[class="paragraph"] {
	font-size:$paragraph-size;
	font-family:$font-paragraph;
	color: $paragraph-color;
}

span[class="heading"] {
	font-size:$heading-size;
	font-family:$font-heading;
	color: $heading-color;
}