/* -------------------------------------------
Colour variables
-------------------------------------------- */

$color-light-grey: #EFEFEF;
$color-blue: #2662e8;
$color-red: #d71616;

/* -------------------------------------------
Background of whole email colour?
-------------------------------------------- */

$background-color: #ffffff;

/* -------------------------------------------
Font variables
-------------------------------------------- */

$font-heading: Arial;
$font-paragraph: Arial, sans-serif;
$heading-color: #000001;
$paragraph-color: #666666;
$paragraph-size: 16px;
$heading-size: 24px;

/* -------------------------------------------
Link variables
-------------------------------------------- */



/* -------------------------------------------
Width Variables
-------------------------------------------- */

$email-width: 800px; // Suggested 640px is max
$spacer: 20px;

/* -------------------------------------------
Do you want to add padding for container on
responsive? Write either "yes" or "no"
-------------------------------------------- */

$mobile-padding: yes;

