/* -------------------------------------------
Colour variables
-------------------------------------------- */
/* -------------------------------------------
Background of whole email colour?
-------------------------------------------- */
/* -------------------------------------------
Font variables
-------------------------------------------- */
/* -------------------------------------------
Link variables
-------------------------------------------- */
/* -------------------------------------------
Width Variables
-------------------------------------------- */
/* -------------------------------------------
Do you want to add padding for container on
responsive? Write either "yes" or "no"
-------------------------------------------- */
/* Import in our variables! */
/* -------------------------------------------
Grid stuff, don't touch!
-------------------------------------------- */
@media only screen and (max-width: 600px) {
  /* line 11, ../sass/_mobile-grid.scss */
  .full-container {
    padding: 10px;
  }
}
/* line 20, ../sass/_mobile-grid.scss */
.full-width {
  width: 800px;
}
@media only screen and (max-width: 600px) {
  /* line 20, ../sass/_mobile-grid.scss */
  .full-width {
    width: 100% !important;
    height: auto;
  }
}

/* line 28, ../sass/_mobile-grid.scss */
.width-half {
  width: 390px;
}
@media only screen and (max-width: 600px) {
  /* line 28, ../sass/_mobile-grid.scss */
  .width-half {
    width: 100% !important;
    height: auto;
  }
}

/* line 36, ../sass/_mobile-grid.scss */
.width-third {
  width: 253.33333px;
}
@media only screen and (max-width: 600px) {
  /* line 36, ../sass/_mobile-grid.scss */
  .width-third {
    width: 100% !important;
    height: auto;
  }
}

/* line 44, ../sass/_mobile-grid.scss */
.width-two-thirds {
  width: 506.66667px;
}
@media only screen and (max-width: 600px) {
  /* line 44, ../sass/_mobile-grid.scss */
  .width-two-thirds {
    width: 100% !important;
    height: auto;
  }
}

/* line 52, ../sass/_mobile-grid.scss */
.width-quarter {
  width: 185px;
}
@media only screen and (max-width: 600px) {
  /* line 52, ../sass/_mobile-grid.scss */
  .width-quarter {
    width: 100% !important;
    height: auto;
  }
}

/* line 60, ../sass/_mobile-grid.scss */
.spacer {
  width: 20px;
}
@media only screen and (max-width: 600px) {
  /* line 60, ../sass/_mobile-grid.scss */
  .spacer {
    width: 100% !important;
    height: auto;
  }
}

/* Our mobile grid */
/* Our client fixes for hotmail, etc */
/* line 1, ../sass/_Typography.scss */
p {
  font-size: 16px;
  font-family: Arial, sans-serif;
  color: #666666;
}

/* line 7, ../sass/_Typography.scss */
h1 {
  font-size: 24px;
  font-family: Arial;
  color: #000001;
}

/* Control all typography */
/* -------------------------------------------
        Style our stuff
 -------------------------------------------- */
/* line 10, ../sass/email.scss */
body {
  background-color: white;
  margin: 0;
  padding: 0;
}

/* -------------------------------------------
        Colour stuff
-------------------------------------------- */
/* line 21, ../sass/email.scss */
.color-background.red {
  background-color: #d71616;
}

/* -------------------------------------------
Link buttons
-------------------------------------------- */
/* line 31, ../sass/email.scss */
.btn-large {
  color: #FFF;
}

/* -------------------------------------------
        Media Queries
-------------------------------------------- */
@media only screen and (max-width: 600px) {
  /* line 40, ../sass/email.scss */
  *[class="mobile-hide"] {
    display: none !important;
  }

  /* line 43, ../sass/email.scss */
  *[class="mobile-stack"] {
    display: block !important;
  }

  /* line 46, ../sass/email.scss */
  *[class="mob-column"] {
    float: none !important;
    width: 100% !important;
    height: auto;
  }
}
