/* -------------------------------------------
Colour variables

Define some set colours here that you can
call in anywhere. Add as many as you like.
-------------------------------------------- */
/* -------------------------------------------
Background of whole email colour?
-------------------------------------------- */
/* -------------------------------------------
Font variables
-------------------------------------------- */
/* -------------------------------------------
Button variables
-------------------------------------------- */
/* -------------------------------------------
Width Variables
-------------------------------------------- */
/* -------------------------------------------
Do you want to add padding for container on
responsive? Write either "yes" or "no"
-------------------------------------------- */
/* Import in our variables! */
/* -------------------------------------------
Grid stuff, don't touch!
-------------------------------------------- */
@media only screen and (max-width: 600px) {
  /* line 11, ../sass/_mobile-grid.scss */
  .full-container {
    padding: 10px;
  }
}
/* line 20, ../sass/_mobile-grid.scss */
.full-width {
  width: 100%;
}
@media only screen and (max-width: 600px) {
  /* line 20, ../sass/_mobile-grid.scss */
  .full-width {
    width: 100% !important;
    height: auto;
  }
}

/* line 28, ../sass/_mobile-grid.scss */
.full-width-container {
  width: 640px;
}
@media only screen and (max-width: 600px) {
  /* line 28, ../sass/_mobile-grid.scss */
  .full-width-container {
    width: 100% !important;
    height: auto;
  }
}

/* line 36, ../sass/_mobile-grid.scss */
.width-half {
  width: 290px;
}
@media only screen and (max-width: 600px) {
  /* line 36, ../sass/_mobile-grid.scss */
  .width-half {
    width: 100% !important;
    height: auto;
  }
}

/* line 44, ../sass/_mobile-grid.scss */
.width-third {
  width: 186.66667px;
}
@media only screen and (max-width: 600px) {
  /* line 44, ../sass/_mobile-grid.scss */
  .width-third {
    width: 100% !important;
    height: auto;
  }
}

/* line 52, ../sass/_mobile-grid.scss */
.width-two-thirds {
  width: 373.33333px;
}
@media only screen and (max-width: 600px) {
  /* line 52, ../sass/_mobile-grid.scss */
  .width-two-thirds {
    width: 100% !important;
    height: auto;
  }
}

/* line 60, ../sass/_mobile-grid.scss */
.width-quarter {
  width: 135px;
}
@media only screen and (max-width: 600px) {
  /* line 60, ../sass/_mobile-grid.scss */
  .width-quarter {
    width: 100% !important;
    height: auto;
  }
}

/* line 68, ../sass/_mobile-grid.scss */
.spacer {
  width: 20px;
}
@media only screen and (max-width: 600px) {
  /* line 68, ../sass/_mobile-grid.scss */
  .spacer {
    display: none;
  }
}

/* Our mobile grid */
/* line 1, ../sass/_client-fixes.scss */
.ExternalClass {
  line-height: 100%;
}
/* line 3, ../sass/_client-fixes.scss */
.ExternalClass p {
  line-height: 100%;
}
/* line 6, ../sass/_client-fixes.scss */
.ExternalClass span {
  line-height: 100%;
}
/* line 9, ../sass/_client-fixes.scss */
.ExternalClass font {
  line-height: 100%;
}
/* line 12, ../sass/_client-fixes.scss */
.ExternalClass td {
  line-height: 100%;
}
/* line 15, ../sass/_client-fixes.scss */
.ExternalClass div {
  line-height: 100%;
}

/* line 19, ../sass/_client-fixes.scss */
table td {
  border-collapse: collapse;
}

/* line 23, ../sass/_client-fixes.scss */
.yshortcuts a {
  border-bottom: none !important;
}

/* Our client fixes for hotmail, etc */
/* line 1, ../sass/_Typography.scss */
p {
  font-size: 16px;
  font-family: Arial, sans-serif;
  color: #666666;
}

/* line 7, ../sass/_Typography.scss */
h1 {
  font-size: 24px;
  font-family: Georgia;
  color: #000001;
}

/* Control all typography */
/* -------------------------------------------
        Style our body
 -------------------------------------------- */
/* line 10, ../sass/email.scss */
body {
  background-color: white;
  margin: 0;
  padding: 0;
}

/* -------------------------------------------
        Colour stuff
-------------------------------------------- */
/* line 21, ../sass/email.scss */
.color-background.red {
  background-color: white;
}

/* -------------------------------------------
Link buttons
-------------------------------------------- */
@media only screen and (max-width: 600px) {
  /* line 31, ../sass/email.scss */
  .btn {
    width: 100% !important;
    text-align: center;
  }
}
/* line 36, ../sass/email.scss */
.btn.style-1 {
  background-color: white;
  border: 2px solid #cc0000;
}
/* line 39, ../sass/email.scss */
.btn.style-1 a {
  color: #cc0000;
  text-decoration: none;
  font-family: Arial, sans-serif;
}

/* -------------------------------------------
        Media Queries
-------------------------------------------- */
@media only screen and (max-width: 600px) {
  /* line 52, ../sass/email.scss */
  *[class="mobile-hide"] {
    display: none !important;
  }

  /* line 55, ../sass/email.scss */
  *[class="mobile-stack"] {
    display: block !important;
  }

  /* line 58, ../sass/email.scss */
  *[class="mob-column"] {
    float: none !important;
    width: 100% !important;
    height: auto;
  }
}
