<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
<meta name="viewport" content="width=device-width, initial-scale=1.0"/>

<title>Title</title>
	
<link rel="stylesheet" type="text/css" href="../stylesheets/email.css" />

</head>
 
<body bgcolor="#FFFFFF">


<!-- Container 100% table -->
<table width="100%" cellpadding="0" cellspacing="0" border="0" class="full-container">

	<tr>
		<td align="center">

			<!-- 640 pixel container for our content -->
			<table width="640" cellpadding="0" cellspacing="0" border="0" class="full-width-container">
				<tr>
					<td class="spacer"></td>
					<td>


						<!-- Content -->						
						<table border="0" cellspacing="0" cellpadding="20" class="container-mob" bgcolor="#ff0000">
			                <tr>
			                    <td align="center" valign="top">
			                        <table border="0" cellpadding="0" cellspacing="0" class="full-width mobile-stack">
			                            <tr>
			                            	<td>Hello test</td>
			                            </tr>
			                        </table>
			                    </td>
			                </tr>
			            </table>

			            <!-- Two column -->

			            <table border="0" cellspacing="0" cellpadding="0" class="container-mob">
			                <tr>
			                    <td align="center" valign="top">
			                        <table border="0" cellpadding="0" cellspacing="0" class="full-width mobile-stack">
			                            <tr>
			                                <td align="left" class="mobile-stack" valign="top">
			                                    <table align="left" border="0" cellpadding="0" cellspacing="0" class="width-half" bgcolor="#00ff00">
			                                        <tr>
			                                            <td valign="top" align="center">
			                                               <span class="heading">Yo!</span>

			                                               <br><br>

			                                               <span class="paragraph">A python CSS inliner is provided for your templates: we choose to integrate premailer.

Prior to activate it, you need first to install python, and create a virtualenv for this tool (please check the virtualenvwrapper documentation). Then, install all python dependancies with:</span>
			                                            </td>
			                                        </tr>
			                                    </table>
			                                </td>
			                                <td align="left" class="mobile-stack" valign="top">
			            						<table align="left" border="0" cellspacing="0" cellspacing="0" class="mobile-spacer">
			            							<tr>
			            								<td align="center">
			            									&nbsp;
			            								</td>
			            							</tr>
			            						</table>
			            					</td>
			                                <td align="left" class="mobile-stack" valign="top">
			                                    <table align="left" border="0" cellpadding="0" cellspacing="0" class="width-half">
			                                        <tr>
			                                            <td valign="top" align="center">
			                                            	<span class="heading">Yo!</span>

			                                            	<br><br>

			                                            	<span class="paragraph">A python CSS inliner is provided for your templates: we choose to integrate premailer.

Prior to activate it, you need first to install python, and create a virtualenv for this tool (please check the virtualenvwrapper documentation). Then, install all python dependancies with:</span>
			                                            </td>
			                                        </tr>
			                                    </table>
			                                </td>
			                            </tr>
			                        </table>
			                    </td>
			                </tr>
			            </table>

			            <table border="0" cellspacing="0" cellpadding="0" class="container-mob">
			            	<tr>
			            		<td align="center" valign="top">
			            			<table border="0" cellpadding="0" cellspacing="0" class="full-width mobile-stack">
			            				<tr>
			            					<td align="left" class="mobile-stack" valign="top">
			            						<table align="left" border="0" cellspacing="0" cellspacing="0" class="width-third">
			            							<tr>
			            								<td align="center">
			            									<span class="paragraph">
			            										Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi, voluptates dolorem. Veniam aperiam doloribus, repudiandae reiciendis labore, harum iusto voluptatem quasi, distinctio earum praesentium. Sint dolorem exercitationem quasi aliquam ab!
			            									</span>
			            								</td>
			            							</tr>
			            						</table>
			            					</td>
			            					<td align="left" class="mobile-stack" valign="top">
			            						<table align="left" border="0" cellspacing="0" cellspacing="0" class="mobile-spacer">
			            							<tr>
			            								<td align="center">
			            									&nbsp;
			            								</td>
			            							</tr>
			            						</table>
			            					</td>
			            					<td align="left" class="mobile-stack" valign="top">
			            						<table align="left" border="0" cellspacing="0" cellspacing="0" class="width-third">
			            							<tr>
			            								<td align="center">
			            									<span class="paragraph">
			            										Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi, voluptates dolorem. Veniam aperiam doloribus, repudiandae reiciendis labore, harum iusto voluptatem quasi, distinctio earum praesentium. Sint dolorem exercitationem quasi aliquam ab!
			            									</span>
			            								</td>
			            							</tr>
			            						</table>
			            					</td>
			            					<td align="left" class="mobile-stack" valign="top">
			            						<table align="left" border="0" cellspacing="0" cellspacing="0" class="mobile-spacer">
			            							<tr>
			            								<td align="center">
			            									&nbsp;
			            								</td>
			            							</tr>
			            						</table>
			            					</td>
											<td align="left" class="mobile-stack" valign="top">
			            						<table align="left" border="0" cellspacing="0" cellspacing="0" class="width-third">
			            							<tr>
			            								<td align="center">
			            									<span class="paragraph">
			            										Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi, voluptates dolorem. Veniam aperiam doloribus, repudiandae reiciendis labore, harum iusto voluptatem quasi, distinctio earum praesentium. Sint dolorem exercitationem quasi aliquam ab!
			            									</span>
			            								</td>
			            							</tr>
			            						</table>
			            					</td>
			            				</tr>
			            			</table>
			            		</td>
			            	</tr>
			            </table>



					</td>
					<td class="spacer"></td>
				</tr>
			</table>


			<!-- Full width section -->
			<table>
			</table>


		</td>
	</tr>

</table>



</body>
</html>